.breadcrumbs

  &__list
    display: flex
    flex-direction: row

  &__el
    padding: 10px 0

    &:after
      content: '/'
      padding: 0 10px
      font-size: 20px
      color: $greyDark

    &:last-child:after
      content: ''

  &__title
    +h100
    color: $greyDark
    font-size: 25px