.calendar
  display: block
  width: 200px
  border: 2px solid #e9e8e8
  cursor: pointer
  user-select: none
  span
    font-weight: bold
  caption
    display: flex
    justify-content: space-between
    text-align: center
    border-bottom: 2px solid #e9e8e8
  .month
    color: #f84a75
  caption
    line-height: 32px
    padding: 0 10px
    font-size: 15px
    color: #75858f
  th, td
    padding: 3px
    width: 27px
    //height: 25px
    line-height: 22px
    text-align: center
  th
    font-size: 10px
    color: #bbb
  td
    font-size: 10px
    span
      display: block
      color: #ddd
      border-radius: 50%
      &:hover
        background: #f3f3f3

.cal td.off span
  background: #e9e8e8
.calendar td
  &.off span
    color: #eee
    pointer-events: none
  &.active span, span:active
    //font-size: 11px
    color: #fff
    background: #07cfd6

.calendar-opt
  margin-left: 25px
  user-select: none

  &__title
    +h100
    margin-bottom: 20px
    font-size: 21px
    letter-spacing: 0
    white-space: nowrap

  &__range
    margin-bottom: 15px
    white-space: nowrap
    display: flex
    align-items: center

    span
      margin-right: 10px
      font-weight: bold

  &__input-box
    margin-bottom: 30px

    span
      margin: 0 10px

    input
      padding: 0 5px
      width: 90px
      height: 24px
      border: 1px solid #eee

  &__compare
    margin-bottom: 10px
    display: flex
    align-items: center

  &__btn
    position: absolute
    bottom: -47px
    right: 0
