.dd-selected
  +h100
  display: block
  //font-weight: bold
  overflow: hidden
  padding: 0 !important
  background: none !important

.dd-option
  padding: 0 !important

.dd-selected-text
  color: #75858f !important
  font-size: 12px !important

.dd-option-text
  line-height: 25px !important

.dd-option-image, .dd-selected-image
  margin: 7px 5px 0 !important

.dd-select
  border: 1px solid #ccc
  border-radius: 6px !important
  -webkit-border-radius: 6px !important
  cursor: pointer
  height: 27px
  position: relative
  background: none !important
  background-image: url(../img/ico-select-down.png) !important
  background-position: right center !important
  background-repeat: no-repeat !important
  background-color: #fff !important
  max-width: 175px

.item-geography .dd-select
  background-image: url(../img/ico-select-search.png) !important
  background-position: right center !important
  background-repeat: no-repeat !important
  background-color: #fff !important
  //max-width: 237px !important

.item-geography .dd-selected-text
  margin-left: 5px

.item-geography
  .dd-select,
  .dd-options
    max-width: 210px

.item-first
  .dd-select,
  .dd-options
    max-width: 100px

.item-first .dd-selected-text
  margin-left: 5px



.dd-options
  max-width: 175px
  max-height: 150px
  overflow-y: auto

.dd-pointer-down
  display: none !important