.item
  width: 100%
  margin-bottom: 30px
  background-color: #fff
  border: 1px solid #DEDEDE
  border-radius: 8px
  box-sizing: border-box

  &_w-46
    width: 46%

  &_w-52
    width: 52%
    margin-left: 24px

  &_small
    margin-top: 13px
    margin-bottom: 13px

    .item__bottom
      padding-bottom: 40px

  &_performance
    padding-bottom: 40px

  &__top
    padding: 0 10px
    border-bottom: 1px solid #DEDEDE
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__title
    +h100
    padding: 9px 10px
    color: $greyDark
    font-size: 21px

  &__figure
    margin-left: 20px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    font-size: 12px

    img
      margin: 0 8px