.item
  width: 100%
  margin-bottom: 30px
  background-color: #fff
  border: 1px solid #DEDEDE
  border-radius: 8px
  box-sizing: border-box

  &_w-46
    width: 46%

  &_w-52
    width: 52%
    margin-left: 24px

  &_small
    margin-top: 13px
    margin-bottom: 13px

    .item__bottom
      padding-bottom: 40px

  &_performance
    padding-bottom: 40px

  &__top
    padding: 0 10px
    border-bottom: 1px solid #DEDEDE
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__row
    margin-left: 25px

  &__title
    +h100
    padding: 9px 10px
    color: $greyDark
    font-size: 21px

  &__figure
    margin-left: 20px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    font-size: 12px

    img
      margin: 0 8px

.legend
  font-weight: bold

  &__list
    margin-left: 15px
    display: flex

  &__el
    margin-right: 40px

  &__item
    position: relative
    &::after
      position: absolute
      content: ''
      top: 1px
      left: -17px
      width: 12px
      height: 12px
      border-radius: 50%

    &::before
      position: absolute
      content: ''
      top: 5px
      left: -13px
      width: 4px
      height: 4px
      background-color: #fff
      border-radius: 50%
      z-index: 1

    &_blue
      &::after
        background-color: #1fd4da

    &_pink
      &::after
        background-color: $pink

    &_grey
      &::after
        background-color: #d0d0d0

.item_cat-perform

  .legend__el
    margin-right: 76px

  .legend__item_pink

    &::before
      display: none

    &::after
      top: 5px
      left: -62px
      width: 55px
      height: 0
      background-color: transparent
      border-radius: 0
      border-top: 3px dashed $pink

