.item
  margin: 30px 0
  background-color: #fff
  border: 1px solid #DEDEDE
  border-radius: 8px 8px 0 0

  &_performance
    padding-bottom: 33px

  &_small
    width: 50%
    border-radius: 8px

  &__top
    padding: 0 10px
    border-bottom: 1px solid #DEDEDE
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__bottom

  &__left

  &__right

  &__title
    +h100
    padding: 10px
    color: $greyDark
    font-size: 25px