.top-line
  padding: 25px 18px 19px
  display: flex
  flex-direction: row
  justify-content: space-between
  border-bottom: 1px solid #DEDEDE

.main
  display: flex

  &__left
    background-color: $darkBlue

  &__right
    width: 100%

.content

  &__top
    background-color: #f7f8f9


