.top-line
  padding: 20px 10px 15px 17px
  display: flex
  flex-direction: row
  justify-content: space-between
  border-bottom: 1px solid #DEDEDE

.main
  display: flex

  &__left
    background-color: $darkBlue

  &__right
    background-color: #f7f8f9
    width: 100%

.content

  &__top
    padding-left: 27px
    padding-right: 60px

  &__bottom
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding: 38px 53px 0 27px

.row
  padding: 24px 0
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  &_lr-padding
    padding: 24px 18px

.comparison-chart
  padding: 102px
  text-transform: uppercase
  text-align: center

.geography-widget
  padding: 135px 0
  text-transform: uppercase
  text-align: center

.performance-time
  position: relative
  padding: 186px 0
  text-align: center

.demographic-overview
  position: relative
  padding: 145px 0
  text-align: center

.cat-perform
  padding: 100px 0
  text-align: center

.drop-down
  position: relative
  display: none



