.left-menu

  &__list
    background-color: $darkBlue

  &__el
    border-bottom: 1px solid #75858f
    text-align: center

  &__link
    padding: 22px 21px 18px
    display: block
    font-size: 15px
    color: #fff
    opacity: .5
    i
      margin-bottom: 3px
    &_is-active
      background-color: $pink
      opacity: 1
