.table
  text-align: left

  th
    +h100
    padding: 3px 0
    color: $greyDark
    font-size: 15px
    background-color: #f5f6f7
    cursor: pointer

    &:first-child
      padding-left: 20px
      text-align: left

  tr
    border-bottom: 1px solid #DEDEDE
    border-top: none
    &:last-child
      border-bottom: none

  td
    //width: 10%
    vertical-align: middle
    padding: 13px 0

    &:first-child
      width: 14%
      padding-left: 20px
      text-align: left
      color: #48b1c7

  &_performance

    tr:first-child
      border-bottom: none

    th
      padding-top: 18px
      background-color: #fff

    td
      width: 11%
      padding: 5px 0
      &:first-child
        width: 11%
        text-align: center
      &:nth-of-type(3)
        width: 15%

      &:last-child
        padding: 0 15px
        width: 16%
        text-align: right

  &_small
    tr
      &:first-child
        border-bottom: none

    th
      font-size: 12px
      background-color: #fff

    td
      padding: 10px 0
      &:first-child
        color: $greyDark

.arrow-up,
.arrow-down
  +h100
  font-size: 10px
