<div class="balloon balloon_calendar">

  <div class="balloon__item">

    <table class="calendar">
      <caption>
        <span class="prev">
          <i class="fa fa-angle-left"></i>
        </span>
        <span class="month">September</span>
        <span class="next">
          <!--<i class="fa fa-angle-right"></i>-->
        </span>
      </caption>
      <thead>
      <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>Su</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="off"><span>31</span></td>
        <td><span>1</span></td>
        <td><span>2</span></td>
        <td><span>3</span></td>
        <td><span>4</span></td>
        <td><span>5</span></td>
        <td><span>6</span></td>
      </tr>
      <tr>
        <td><span>7</span></td>
        <td><span>8</span></td>
        <td><span>9</span></td>
        <td><span>10</span></td>
        <td><span>11</span></td>
        <td><span>12</span></td>
        <td><span>13</span></td>
      </tr>
      <tr>
        <td><span>14</span></td>
        <td><span>15</span></td>
        <td><span>16</span></td>
        <td><span>17</span></td>
        <td><span>18</span></td>
        <td><span>19</span></td>
        <td><span>20</span></td>
      </tr>
      <tr>
        <td><span>21</span></td>
        <td><span>22</span></td>
        <td><span>23</span></td>
        <td><span>24</span></td>
        <td><span>25</span></td>
        <td><span>26</span></td>
        <td><span>27</span></td>
      </tr>
      <tr>
        <td><span>28</span></td>
        <td><span>29</span></td>
        <td><span>30</span></td>
        <td class="off"><span>1</span></td>
        <td class="off"><span>2</span></td>
        <td class="off"><span>3</span></td>
        <td class="off"><span>4</span></td>
      </tr>
      </tbody>
    </table><!-- end calendar -->

  </div><!-- end balloon__item -->

  <div class="balloon__item">

    <table class="calendar">
      <caption>
        <span class="prev">
          <!--<i class="fa fa-angle-left"></i>-->
        </span>
        <span class="month">October</span>
        <span class="next">
          <!--<i class="fa fa-angle-right"></i>-->
        </span>
      </caption>
      <thead>
      <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>Su</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="off"><span>31</span></td>
        <td><span>1</span></td>
        <td><span>2</span></td>
        <td><span>3</span></td>
        <td><span>4</span></td>
        <td><span>5</span></td>
        <td><span>6</span></td>
      </tr>
      <tr>
        <td><span>7</span></td>
        <td><span>8</span></td>
        <td><span>9</span></td>
        <td><span>10</span></td>
        <td><span>11</span></td>
        <td><span>12</span></td>
        <td><span>13</span></td>
      </tr>
      <tr>
        <td><span>14</span></td>
        <td><span>15</span></td>
        <td><span>16</span></td>
        <td><span>17</span></td>
        <td class="active"><span>18</span></td>
        <td class="active"><span>19</span></td>
        <td class="active"><span>20</span></td>
      </tr>
      <tr>
        <td class="active"><span>21</span></td>
        <td class="active"><span>22</span></td>
        <td class="active"><span>23</span></td>
        <td class="active"><span>24</span></td>
        <td class="active"><span>25</span></td>
        <td><span>26</span></td>
        <td><span>27</span></td>
      </tr>
      <tr>
        <td><span>28</span></td>
        <td><span>29</span></td>
        <td><span>30</span></td>
        <td class="off"><span>1</span></td>
        <td class="off"><span>2</span></td>
        <td class="off"><span>3</span></td>
        <td class="off"><span>4</span></td>
      </tr>
      </tbody>
    </table><!-- end calendar -->

  </div><!-- end balloon__item -->

  <div class="balloon__item">

    <table class="calendar">
      <caption>
        <span class="prev">
          <!--<i class="fa fa-angle-left"></i>-->
        </span>
        <span class="month">November</span>
        <span class="next">
          <i class="fa fa-angle-right"></i>
        </span>
      </caption>
      <thead>
      <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>Su</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="off"><span>31</span></td>
        <td><span>1</span></td>
        <td><span>2</span></td>
        <td><span>3</span></td>
        <td><span>4</span></td>
        <td><span>5</span></td>
        <td><span>6</span></td>
      </tr>
      <tr>
        <td><span>7</span></td>
        <td><span>8</span></td>
        <td><span>9</span></td>
        <td><span>10</span></td>
        <td><span>11</span></td>
        <td><span>12</span></td>
        <td><span>13</span></td>
      </tr>
      <tr>
        <td><span>14</span></td>
        <td><span>15</span></td>
        <td><span>16</span></td>
        <td><span>17</span></td>
        <td><span>18</span></td>
        <td><span>19</span></td>
        <td><span>20</span></td>
      </tr>
      <tr>
        <td><span>21</span></td>
        <td><span>22</span></td>
        <td><span>23</span></td>
        <td><span>24</span></td>
        <td><span>25</span></td>
        <td><span>26</span></td>
        <td><span>27</span></td>
      </tr>
      <tr>
        <td><span>28</span></td>
        <td><span>29</span></td>
        <td><span>30</span></td>
        <td class="off"><span>1</span></td>
        <td class="off"><span>2</span></td>
        <td class="off"><span>3</span></td>
        <td class="off"><span>4</span></td>
      </tr>
      </tbody>
    </table><!-- end calendar -->

  </div><!-- end balloon__item -->

  <div class="balloon__item">

    <div class="calendar-opt">

      <h4 class="calendar-opt__title">
        <span>18/10/15</span>
        <span>-</span>
        <span>25/10/15</span>
      </h4>

      <div class="calendar-opt__range">

        <span>Data range</span>

        <div class="custom-select">
          <select name="select-name" id="select5">
            <option value="Custom">Custom</option>
            <option value="Option">Option</option>
            <option value="Option">Option</option>
          </select>
        </div>

      </div>

      <div class="calendar-opt__input-box">
        <form>
          <input type="text"/>
          <span>to</span>
          <input type="text"/>
        </form>
      </div>

      <div class="calendar-opt__compare">

        <span>Compare</span>

        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>

      </div>

      <div class="calendar-opt__checkbox">
        <label>
          <input type="checkbox"/>
          <span>Previous period</span>
        </label>
      </div>

      <div class="calendar-opt__btn">
        <form>
          <button class="btn btn_pink btn_apply">
            <i class="fa fa-check-circle-o"></i>
            apply
          </button>
        </form>
      </div>

    </div><!-- end calendar-options -->

  </div><!-- end balloon__item -->
</div><!-- end balloon -->