<div class="item item_performance">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        Creative Performance
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <table class="table table_performance">

      <tr>
        <th>Creative</th>
        <th>Spend</th>
        <th>Impressions</th>
        <th>Clicks</th>
        <th>CTR</th>
        <th>Conversions</th>
        <th>CPA</th>
        <th></th>
      </tr>

      <tr>
        <td>
          <div class="img-box"></div>
        </td>
        <td>$234</td>
        <td>365,678</td>
        <td>1,400</td>
        <td>0.08%</td>
        <td>27</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_transparent">pause</span>
          <span class="btn btn_transparent">edit</span>
        </td>
      </tr>

      <tr>
        <td>
          <div class="img-box"></div>
        </td>
        <td>$234</td>
        <td>365,678</td>
        <td>1,400</td>
        <td>0.08%</td>
        <td>27</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_transparent">pause</span>
          <span class="btn btn_transparent">edit</span>
        </td>
      </tr>

      <tr>
        <td>
          <div class="img-box"></div>
        </td>
        <td>$234</td>
        <td>365,678</td>
        <td>1,400</td>
        <td>0.08%</td>
        <td>27</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_transparent">pause</span>
          <span class="btn btn_transparent">edit</span>
        </td>
      </tr>

      <tr>
        <td>
          <div class="img-box"></div>
        </td>
        <td>$234</td>
        <td>365,678</td>
        <td>1,400</td>
        <td>0.08%</td>
        <td>27</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_transparent">pause</span>
          <span class="btn btn_transparent">edit</span>
        </td>
      </tr>

      <tr>
        <td>
          <div class="img-box"></div>
        </td>
        <td>$234</td>
        <td>365,678</td>
        <td>1,400</td>
        <td>0.08%</td>
        <td>27</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_transparent">pause</span>
          <span class="btn btn_transparent">edit</span>
        </td>
      </tr>

    </table><!-- end table -->

  </div><!-- end item__bottom -->

</div><!-- end item -->