<div class="item item_small item_w-52">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        Performance Time of day / Day of Week
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <div class="events">

      <ul class="events__list">

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Conversions</span>
        </li>

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Impressions</span>
        </li>

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Clicks</span>
        </li>

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">CPA</span>
        </li>

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Cost</span>
        </li>

      </ul>

    </div><!-- end events -->

    <div class="performance-time">

      chart

      <div class="balloon balloon_small balloon_right">
        <p class="balloon__text">
          Tuesday
        </p>
        <p class="balloon__text">
          12:00pm
        </p>
        <p class="balloon__text">
          -15:00pm
        </p>
        <p class="balloon__text balloon__text_bold">
          15 Conversions
        </p>
      </div><!-- end balloon -->

    </div><!-- end performance-time -->

    <div class="item__figure">

      <span>0 clicks</span>

      <img src="img/performance-figure.png" alt="figure"/>

      <span>2,000 clicks</span>

    </div>

  </div><!-- end item__bottom -->

</div><!-- end item -->