<div class="item item_small item_w-46">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        Categories performance
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

      <span class="btn grey-dark">
        <i class="ico fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

  </div><!-- end item__bottom -->

</div><!-- end item -->