<div class="item item-first">

  <div class="item__top">

    <div class="item__left">

      <div class="breadcrumbs">

        <ul class="breadcrumbs__list">

          <li class="breadcrumbs__el">
            <span class="breadcrumbs__title">Daily</span>
          </li>

          <li class="breadcrumbs__el">
            <span class="breadcrumbs__title">Weekly</span>
          </li>

          <li class="breadcrumbs__el">
            <span class="breadcrumbs__title">Monthly Breakdown</span>
          </li>

        </ul>

      </div><!-- end breadcrumbs -->

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn btn_p-5 grey-dark">
        <i class="fa fa-cog"></i>
      </span>

      <span class="btn btn_p-5 grey-dark">
        <i class="fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <div class="row row_lr-padding">

      <div class="custom-select custom-select_small">

        <select name="select-name" id="select4">
          <option value="Daily" selected>Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Monthly">Monthly</option>
        </select>

      </div>

    </div>

    <table class="table">

      <tr>
        <th>Period</th>
        <th>
          Goal
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CPM
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          eCPM
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CPC
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          eCPC
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CPA
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          eCPA
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CTR
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          Clicks
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          Conversion
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          Spend
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
      </tr>

      <tr>
        <td>Week 1</td>
        <td>
          CPA $80
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            2%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
      </tr>

      <tr>
        <td>Week 2</td>
        <td>
          CPM $1,85
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            3%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
      </tr>

      <tr>
        <td>Week 3</td>
        <td>
          CPC $1,20
          <span class="pink arrow-down">
            <i class="fa fa-arrow-down"></i>
            4%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
      </tr>

      <tr>
        <td>Week 4</td>
        <td>
          CTR 1,5%
          <span class="pink arrow-down">
            <i class="fa fa-arrow-down"></i>
            4%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
      </tr>

      <tr>
        <td>Week 5</td>
        <td>
          CPA $80
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            2%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
      </tr>

    </table><!-- end table -->

  </div><!-- end item__bottom -->

</div><!-- end item -->
