<div class="item item_active-campaigns">

  <div class="item__top">

    <div class="item__left">

      <div class="item__nav">

        <ul class="nav">

          <li class="nav__el">
            <span class="nav__text is-active">Active campaigns</span>
          </li>

          <li class="events__el">
            <span class="nav__text">Draft campaigns</span>
          </li>

          <li class="events__el">
            <span class="nav__text">Ended campaigns</span>
          </li>

        </ul>

      </div><!-- end item__nav -->

    </div><!-- end item__left -->

    <div class="item__right"></div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <div class="row">
      <div class="row__left">

        <h1 class="item__title">
          Active Campaigns
        </h1>

      </div>
      <div class="row__right">

        <div class="search">
          <form class="search__campaigns">

            <div class="search__field">
              <div class="input">
                <input type="search" class="input__el" placeholder="Search term goes here"/>
              </div>
            </div>

            <div class="search__action">
              <button class="btn_search">
                <i class="fa fa-search"></i>
              </button>
            </div>

          </form>
        </div>

      </div>

    </div>

    <table class="table table_active-campaigns">

      <tr>
        <th>Campaign name</th>
        <th>
          Goal
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CPM
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          eCPM
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CPC
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          eCPC
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CPA
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          eCPA
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          CTR
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          Clicks
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          Conversion
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th>
          Spend
          <i class="fa fa-caret-down"></i>
          <!--<i class="fa fa-caret-up"></i>TODO: use JS for toggling arrows/states-->
        </th>
        <th></th>

      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPA $80
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            2%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPM $1,85
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            3%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPC $1,20
          <span class="pink arrow-down">
            <i class="fa fa-arrow-down"></i>
            4%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CTR 1,5%
          <span class="pink arrow-down">
            <i class="fa fa-arrow-down"></i>
            4%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPA $80
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            2%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPM $1,85
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            3%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPC $1,20
          <span class="pink arrow-down">
            <i class="fa fa-arrow-down"></i>
            4%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CTR 1,5%
          <span class="pink arrow-down">
            <i class="fa fa-arrow-down"></i>
            4%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPA $80
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            2%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Campaign name</td>
        <td>
          CPM $1,85
          <span class="green arrow-up">
            <i class="fa fa-arrow-up"></i>
            3%
          </span>
        </td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td>
          <span class="btn btn_blue">edit</span>
          <span class="btn btn_blue">duplicate</span>
        </td>
      </tr>

      <tr>
        <td>Total</td>
        <td></td>
        <td>$748</td>
        <td>700,678</td>
        <td>1,400</td>
        <td>0,17%</td>
        <td>$0,54</td>
        <td>$0,54</td>
        <td>$0,17%</td>
        <td>27</td>
        <td>0,17%</td>
        <td>$27,7</td>
        <td></td>
      </tr>

    </table><!-- end table -->


  </div><!-- end item__bottom -->

</div><!-- end item -->