<div class="item item_small item_w-52">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        DSP Performance
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

      <span class="btn grey-dark">
        <i class="ico fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <table class="table table_small">

      <tr>
        <th>DSP</th>
        <th>Impressions</th>
        <th>Clicks</th>
        <th>CTR</th>
        <th>eCPC</th>
        <th>eCPA</th>
        <th>eCPM</th>
        <th>Cost</th>
        <th>Fee</th>
      </tr>

      <tr>
        <td>
          <img src="../img/dsp1.jpg" alt="dsp"/>
        </td>
        <td>2.3M</td>
        <td>174</td>
        <td>0.25%</td>
        <td>$0.4</td>
        <td>$32</td>
        <td>$2.3</td>
        <td>$3,200</td>
        <td>3%</td>
      </tr>

      <tr>
        <td>
          <img src="../img/dsp2.jpg" alt="dsp"/>
        </td>
        <td class="grey" align="center" colspan="8">Coming Soon</td>
      </tr>

      <tr>
        <td>
          <img src="../img/dsp3.jpg" alt="dsp"/>
        </td>
        <td class="grey" align="center" colspan="8">Coming Soon</td>
      </tr>

    </table><!-- end table_small -->

  </div><!-- end item__bottom -->

</div><!-- end item -->