<div class="item item_small item_w-46 item-geography">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        Geography widget
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

       <span class="btn btn_p-5 grey-dark">
         <i class="ico fa fa-minus"></i>
       </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <div class="events">

      <ul class="events__list">

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Clicks</span>
        </li>

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Impressions</span>
        </li>

        <li class="events__el">
          <span class="btn btn_color-grey btn_small">Conversions</span>
        </li>

      </ul>

    </div><!-- end events -->

    <div class="item__row">

      <div class="custom-select">
        //=include select-countries.html
      </div><!-- end custom-select -->

    </div>

    <div class="geography-widget">chart</div>

    <div class="info">
      <h6 class="info__title">Most Conversions</h6>
      <div class="info__border"></div>
      <table>
        <tr>
          <th>Australia</th>
          <th>New Zealand</th>
          <th>Sweden</th>
          <th>Germany</th>
        </tr>
        <tr>
          <td>440</td>
          <td>357</td>
          <td>224</td>
          <td>180</td>
        </tr>
      </table>
    </div><!-- end info -->

    <div class="item__figure">
      <span>2,000 clicks</span>
      <img src="img/geography-figure.png" alt="figure"/>
      <span>5,000 clicks</span>
    </div>

  </div><!-- end item__bottom -->

</div><!-- end item -->