<div class="item item_small item_w-46">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        Demographic Overview
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

      <span class="btn grey-dark">
        <i class="ico fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <div class="demographic-overview">
      chart
      <div class="balloon balloon_small balloon_left">
        <p class="balloon__text balloon__text_bold">
          November
        </p>
        <p class="balloon__text">
          <b>4</b> Conversions
        </p>
        <p class="balloon__text">
          <b>7</b> Impressions
        </p>
        <p class="balloon__text">
          <b>15</b> Clicks
        </p>
      </div><!-- end balloon -->
    </div><!-- end demographic-overview -->

    <div class="item__figure">

      <div class="gender">

        <ul class="gender__list">
          <li class="gender__el">
            <span class="gender__item gender__item_blue">Male</span>
          </li>

          <li class="gender__el">
            <span class="gender__item gender__item_pink">Female</span>
          </li>

          <li class="gender__el">
            <span class="gender__item gender__item_grey">Unknown</span>
          </li>
        </ul>

      </div><!-- end gender -->

    </div><!-- end item__figure -->

  </div><!-- end item__bottom -->

</div><!-- end item -->