<div class="item item_small item_w-52">

  <div class="item__top">

    <div class="item__left">

      <h1 class="item__title">
        Publisher / Website Performance
      </h1>

    </div><!-- end item__left -->

    <div class="item__right">

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-cog"></i>
      </span>

      <span class="btn btn_p-5 grey-dark">
        <i class="ico fa fa-minus"></i>
      </span>

    </div><!-- end item__right -->

  </div><!-- end item__top -->

  <div class="item__bottom">

    <table class="table table_small w-52">

      <tr>
        <th>Publisher</th>
        <th>Impressions</th>
        <th>Clicks</th>
        <th>CTR</th>
        <th>eCPC</th>
        <th>eCPA</th>
        <th>eCPM</th>
        <th>Cost</th>
        <th>Fee</th>
      </tr>

      <tr>
        <td>Publisher name</td>
        <td>2.3M</td>
        <td>174</td>
        <td>0.25%</td>
        <td>$0.4</td>
        <td>$32</td>
        <td>$2.3</td>
        <td>$3,200</td>
        <td>3%</td>
      </tr>

      <tr>
        <td>Publisher name</td>
        <td>2.3M</td>
        <td>174</td>
        <td>0.25%</td>
        <td>$0.4</td>
        <td>$32</td>
        <td>$2.3</td>
        <td>$3,200</td>
        <td>3%</td>
      </tr>

      <tr>
        <td>Publisher name</td>
        <td>2.3M</td>
        <td>174</td>
        <td>0.25%</td>
        <td>$0.4</td>
        <td>$32</td>
        <td>$2.3</td>
        <td>$3,200</td>
        <td>3%</td>
      </tr>

      <tr>
        <td>Publisher name</td>
        <td>2.3M</td>
        <td>174</td>
        <td>0.25%</td>
        <td>$0.4</td>
        <td>$32</td>
        <td>$2.3</td>
        <td>$3,200</td>
        <td>3%</td>
      </tr>

    </table><!-- end table_small -->

  </div><!-- end item__bottom -->

</div><!-- end item -->