<nav class="left-menu">

  <ul class="left-menu__list">

    <li class="left-menu__el">
      <a href="#"
         class="left-menu__link left-menu__link_is-active">
        <i class="ico ico_dashboard"></i>
        <br>
        <span class="left-menu__text">
          Dashboard
        </span>
      </a>
    </li>

    <li class="left-menu__el">
      <a href="#" class="left-menu__link">
        <i class="ico ico_schedule"></i>
        <br>
        <span class="left-menu__text">
          Campaigns
        </span>
      </a>
    </li>

    <li class="left-menu__el">
      <a href="#" class="left-menu__link">
        <i class="ico ico_document"></i>
        <br>
        <span class="left-menu__text">
          Reports
        </span>
      </a>
    </li>

    <li class="left-menu__el">
      <a href="#" class="left-menu__link">
        <i class="ico ico_pencil"></i>
        <br>
        <span class="left-menu__text">
          Creative<br> Suite
        </span>
      </a>
    </li>

    <li class="left-menu__el">
      <a href="#" class="left-menu__link">
        <i class="ico ico_men"></i>
        <br>
        <span class="left-menu__text">
          Audience<br> Builder
        </span>
      </a>
    </li>

  </ul><!-- end left-menu__list -->

</nav><!-- end left-menu -->