<main class="main">

  <div class="main__left">

    <nav class="left-menu">

      <ul class="left-menu__list">

        <li class="left-menu__el">
          <a href="#"
             class="left-menu__link left-menu__link_is-active">
            <i class="ico ico_dashboard"></i>
            <br>
              <span class="left-menu__text">
                Dashboard
              </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_schedule"></i>
            <br>
              <span class="left-menu__text">
                Campaigns
              </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_document"></i>
            <br>
            <span class="left-menu__text">
              Reports
            </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_pencil"></i>
            <br>
            <span class="left-menu__text">
              Creative<br> Suite
            </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_men"></i>
            <br>
            <span class="left-menu__text">
              Audience<br> Builder
            </span>
          </a>
        </li>

      </ul><!-- end left-menu__list -->

    </nav><!-- end left-menu -->

  </div><!-- end main__left -->

  <div class="main__right">

    <div class="content">

      <div class="content__top">

        <div class="content-menu">

          <div class="content-menu__left">

            <ul class="content-menu__list">

              <li class="content-menu__el">
                <span class="btn btn_color-grey">Active campaigns</span>
              </li>

              <li class="content-menu__el">
                <span class="btn btn_color-grey">Ended campaigns</span>
              </li>

            </ul>

          </div><!-- end content-menu__left -->

          <div class="content-menu__right">

            <ul class="content-menu__list">

              <li class="content-menu__el">

                <span class="btn btn_color-grey btn_account" id="btn-acc-info">
                  <i class="fa fa-user"></i>
                  Account Details
                  <i class="fa fa-caret-down"></i>
                </span>

                <div class="drop-down">

                  <div class="balloon balloon_account">

                    <ul class="balloon__list">
                      <li class="balloon__el">total budget</li>
                      <li class="balloon__el">spend</li>
                      <li class="balloon__el">remaining</li>
                    </ul>

                    <ul class="balloon__list">
                      <li class="balloon__el">$12,000</li>
                      <li class="balloon__el">$7,241</li>
                      <li class="balloon__el">$4,759</li>
                    </ul>

                    <a  class="balloon__link" href="#">
                      <i class="fa fa-plus-square-o"></i>
                      <br>
                      add
                      <br>
                      funds
                    </a>

                  </div><!-- end account-info -->

                </div><!-- end content-menu__drop-down -->

              </li>

            </ul>

          </div><!--content content-menu__right -->

        </div><!-- end content-menu -->

          <div class="content-title">
            <h1>Sunglasses Campaign</h1>
          </div><!-- end content-title -->

          <div class="row">

            <div class="row__left">

              <div class="comparison">

                <div class="comparison__item">

                  <div class="custom-select">
                    <select name="select-name" id="select1">
                      <option value="Conversions" data-imagesrc="./img/ico-conversions.png">Conversions</option>
                      <option value="Impressions" data-imagesrc="./img/ico-impressions.png">Impressions</option>
                    </select>
                    <!--<i class="fa fa-angle-down"></i>-->
                  </div>

                </div><!-- end comparison__item -->

                <span class="comparison__text">vs.</span>

                <div class="comparison__item">

                  <div class="custom-select">
                    <select name="select-name" id="select2">
                      <option value="Impressions" data-imagesrc="./img/ico-impressions.png">Impressions</option>
                      <option value="Conversions" data-imagesrc="./img/ico-conversions.png">Conversions</option>
                    </select>
                    <!--<i class="fa fa-angle-down"></i>-->
                  </div>

                </div><!-- end comparison__item -->

              </div><!-- end comparison -->

            </div><!-- end row__left -->

            <div class="row__right">
              <span class="btn btn_color-grey" id="btn-data-range">
                <i class="fa fa-calendar"></i>
                Data range
                <i class="fa fa-caret-down"></i>
              </span>

              <div class="drop-down">

                //=include balloon-calendar.html

              </div><!-- end calendar-box -->

            </div><!-- end row__right -->

          </div><!-- end row -->

          <div class="comparison-chart">
            comparison chart
          </div><!-- end comparison-chart-->

      </div><!-- end content__top -->

      <div class="content__bottom">

        //=include item-big-1.html

        //=include item-big-2.html

        //=include item-small-1.html

        //=include item-small-2.html

        //=include item-small-3.html

        //=include item-small-4.html

        //=include item-small-5.html

        //=include item-small-6.html

        //=include item-small-7.html

      </div><!-- end content__bottom -->

    </div><!-- end content -->

  </div><!-- end main__right -->

</main><!-- end main -->
