<main class="main">

  <div class="main__left">

    <nav class="left-menu">

      <ul class="left-menu__list">

        <li class="left-menu__el">
          <a href="#"
             class="left-menu__link left-menu__link_is-active">
            <i class="ico ico_dashboard"></i>
            <br>
              <span class="left-menu__text">
                Dashboard
              </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_schedule"></i>
            <br>
              <span class="left-menu__text">
                Campaigns
              </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_document"></i>
            <br>
            <span class="left-menu__text">
              Reports
            </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_pencil"></i>
            <br>
            <span class="left-menu__text">
              Creative<br> Suite
            </span>
          </a>
        </li>

        <li class="left-menu__el">
          <a href="#" class="left-menu__link">
            <i class="ico ico_men"></i>
            <br>
            <span class="left-menu__text">
              Audience<br> Builder
            </span>
          </a>
        </li>

      </ul>
      <!-- end left-menu__list -->

    </nav>
    <!-- end left-menu -->

  </div>
  <!-- end main__left -->

  <div class="main__right">

    <div class="content">

      <div class="content__top">

      </div>
      <!-- end content__top -->

      <div class="content__bottom">
        <div class="item">
          <div class="item__top">
            <div class="item__left">
              <div class="breadcrumbs">
                <ul class="breadcrumbs__list">

                  <li class="breadcrumbs__el">
                    <span class="breadcrumbs__title">Daily</span>
                  </li>

                  <li class="breadcrumbs__el">
                    <span class="breadcrumbs__title">Weekly</span>
                  </li>

                  <li class="breadcrumbs__el">
                    <span class="breadcrumbs__title">Monthly Breakdown</span>
                  </li>

                </ul>
              </div>
              <!-- end breadcrumbs -->
            </div>
            <!-- end item__left -->

            <div class="item__right">

              <span class="btn">
                <i class="ico fa fa-cog"></i>
              </span>

              <span class="btn">
                <i class="ico fa fa-minus"></i>
              </span>

            </div>
            <!-- end item__right -->
          </div>
          <!-- end item__top -->

          <div class="item__bottom">

            <div class="time">

              <label>

                <select class="time__item">
                  <option value="Daily" selected>Daily</option>
                  <option value="Daily">Weekly</option>
                  <option value="Daily">Monthly Dreakdown</option>
                </select>

              </label>

            </div>
            <!-- end time -->

            <table class="table">
              <tr>
                <th>Period</th>
                <th>
                  Goal
                <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  CPM
                  <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  eCPM
                  <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  CPC
                  <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  eCPC
                   <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  CPA
                   <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  eCPA
                   <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  CTR
                   <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  Clicks
                   <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  Conversion
                   <i class="fa fa-caret-down"></i>
                </th>
                <th>
                  Spend
                   <i class="fa fa-caret-down"></i>
                </th>
              </tr>
              <tr>
                <td>Week 1</td>
                <td>
                  CPA $80
                  <span class="green fa fa-arrow-up">2%</span>
                </td>
                <td>$748</td>
                <td>700,678</td>
                <td>1,400</td>
                <td>0,17%</td>
                <td>$0,54</td>
                <td>$0,54</td>
                <td>$0,17%</td>
                <td>27</td>
                <td>0,17%</td>
                <td>$27,7</td>
              </tr>
              <tr>
                <td>Week 2</td>
                <td>
                  CPM $1,85
                  <span class="green fa fa-arrow-up">3%</span>
                </td>
                <td>$748</td>
                <td>700,678</td>
                <td>1,400</td>
                <td>0,17%</td>
                <td>$0,54</td>
                <td>$0,54</td>
                <td>$0,17%</td>
                <td>27</td>
                <td>0,17%</td>
                <td>$27,7</td>
              </tr>
              <tr>
                <td>Week 3</td>
                <td>
                  CPC $1,20
                  <span class="pink fa fa-arrow-down">4%</span>
                </td>
                <td>$748</td>
                <td>700,678</td>
                <td>1,400</td>
                <td>0,17%</td>
                <td>$0,54</td>
                <td>$0,54</td>
                <td>$0,17%</td>
                <td>27</td>
                <td>0,17%</td>
                <td>$27,7</td>
              </tr>
              <tr>
                <td>Week 4</td>
                <td>
                  CTR 1,5%
                  <span class="pink fa fa-arrow-down">4%</span>
                </td>
                <td>$748</td>
                <td>700,678</td>
                <td>1,400</td>
                <td>0,17%</td>
                <td>$0,54</td>
                <td>$0,54</td>
                <td>$0,17%</td>
                <td>27</td>
                <td>0,17%</td>
                <td>$27,7</td>
              </tr>
              <tr>
                <td>Week 5</td>
                <td>
                  CPA $80
                  <span class="green fa fa-arrow-up">2%</span>
                </td>
                <td>$748</td>
                <td>700,678</td>
                <td>1,400</td>
                <td>0,17%</td>
                <td>$0,54</td>
                <td>$0,54</td>
                <td>$0,17%</td>
                <td>27</td>
                <td>0,17%</td>
                <td>$27,7</td>
              </tr>
            </table><!-- end table -->

          </div><!-- end item__bottom -->

        </div><!-- end item -->

        <div class="item item_performance">

          <div class="item__top">
            <div class="item__left">
              <h1 class="item__title">
                Creative Performance
              </h1>
            </div><!-- end item__left -->

            <div class="item__right">
              <span class="btn">
                <i class="ico fa fa-cog"></i>
              </span>

              <span class="btn">
                <i class="ico fa fa-minus"></i>
              </span>
            </div><!-- end item__right -->

          </div><!-- end item__top -->

          <div class="item__bottom">
            <table class="table table_performance">
              <tr>
                <th>Creative</th>
                <th>Spend</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>CTR</th>
                <th>Conversions</th>
                <th>CPA</th>
              </tr>

              <tr>
                <td>
                  <img src="" alt="img"/>
                </td>
                <td>$234</td>
                <td>365,678</td>
                <td>1,400</td>
                <td>0.08%</td>
                <td>27</td>
                <td>$27,7</td>
                <td>
                  <span class="btn btn_transparent">pause</span>
                  <span class="btn btn_transparent">edit</span>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="" alt="img"/>
                </td>
                <td>$234</td>
                <td>365,678</td>
                <td>1,400</td>
                <td>0.08%</td>
                <td>27</td>
                <td>$27,7</td>
                <td>
                  <span class="btn btn_transparent">pause</span>
                  <span class="btn btn_transparent">edit</span>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="" alt="img"/>
                </td>
                <td>$234</td>
                <td>365,678</td>
                <td>1,400</td>
                <td>0.08%</td>
                <td>27</td>
                <td>$27,7</td>
                <td>
                  <span class="btn btn_transparent">pause</span>
                  <span class="btn btn_transparent">edit</span>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="" alt="img"/>
                </td>
                <td>$234</td>
                <td>365,678</td>
                <td>1,400</td>
                <td>0.08%</td>
                <td>27</td>
                <td>$27,7</td>
                <td>
                  <span class="btn btn_transparent">pause</span>
                  <span class="btn btn_transparent">edit</span>
                </td>
              </tr>

              <tr>
                <td>
                  <img src="" alt="img"/>
                </td>
                <td>$234</td>
                <td>365,678</td>
                <td>1,400</td>
                <td>0.08%</td>
                <td>27</td>
                <td>$27,7</td>
                <td>
                  <span class="btn btn_transparent">pause</span>
                  <span class="btn btn_transparent">edit</span>
                </td>
              </tr>

            </table><!-- end table -->
          </div><!-- end item__bottom -->
        </div><!-- end item -->

        <div class="item item_small">
          <div class="item__top">
            <div class="item__left">
              <h1 class="item__title">
                Publisher / Website Performance
              </h1>
            </div><!-- end item__left -->

            <div class="item__right">
        <span class="btn">
          <i class="ico fa fa-cog"></i>
        </span>

        <span class="btn">
          <i class="ico fa fa-minus"></i>
        </span>
            </div><!-- end item__right -->
          </div><!-- end item__top -->

          <div class="item__bottom">
            <table class="table table_small">

              <tr>
                <th>Publisher</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>CTR</th>
                <th>eCPC</th>
                <th>eCPA</th>
                <th>eCPM</th>
                <th>Cost</th>
                <th>Fee</th>
              </tr>

              <tr>
                <td>Publisher name</td>
                <td>2.3M</td>
                <td>174</td>
                <td>0.25%</td>
                <td>$0.4</td>
                <td>$32</td>
                <td>$2.3</td>
                <td>$3,200</td>
                <td>3%</td>
              </tr>

              <tr>
                <td>Publisher name</td>
                <td>2.3M</td>
                <td>174</td>
                <td>0.25%</td>
                <td>$0.4</td>
                <td>$32</td>
                <td>$2.3</td>
                <td>$3,200</td>
                <td>3%</td>
              </tr>

              <tr>
                <td>Publisher name</td>
                <td>2.3M</td>
                <td>174</td>
                <td>0.25%</td>
                <td>$0.4</td>
                <td>$32</td>
                <td>$2.3</td>
                <td>$3,200</td>
                <td>3%</td>
              </tr>
              <tr>
                <td>Publisher name</td>
                <td>2.3M</td>
                <td>174</td>
                <td>0.25%</td>
                <td>$0.4</td>
                <td>$32</td>
                <td>$2.3</td>
                <td>$3,200</td>
                <td>3%</td>
              </tr>

            </table><!-- end table_small -->
          </div><!-- end item__bottom -->
        </div><!-- end item -->

        <div class="item item_small">
          <div class="item__top">
            <div class="item__left">
              <h1 class="item__title">
                DSP Performance
              </h1>
            </div><!-- end item__left -->

            <div class="item__right">
        <span class="btn">
          <i class="ico fa fa-cog"></i>
        </span>

        <span class="btn">
          <i class="ico fa fa-minus"></i>
        </span>
            </div><!-- end item__right -->
          </div><!-- end item__top -->

          <div class="item__bottom">
            <table class="table table_small">

              <tr>
                <th>DSP</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>CTR</th>
                <th>eCPC</th>
                <th>eCPA</th>
                <th>eCPM</th>
                <th>Cost</th>
                <th>Fee</th>
              </tr>

              <tr>
                <td>
                  <img src="../img/dsp1.jpg" alt="dsp"/>
                </td>
                <td>2.3M</td>
                <td>174</td>
                <td>0.25%</td>
                <td>$0.4</td>
                <td>$32</td>
                <td>$2.3</td>
                <td>$3,200</td>
                <td>3%</td>
              </tr>

              <tr>
                <td>
                  <img src="../img/dsp2.jpg" alt="dsp"/>
                </td>
                <td>Coming Soon</td>
              </tr>

              <tr>
                <td>
                  <img src="../img/dsp3.jpg" alt="dsp"/>
                </td>
                <td>Coming Soon</td>
              </tr>

            </table><!-- end table_small -->
          </div><!-- end item__bottom -->
        </div><!-- end item -->

      </div><!-- end content__bottom -->
    </div><!-- end content -->
  </div><!-- end main__right -->



</main><!-- end main -->
