<div class="top-line">

  <div class="top-line__left">
    <div class="logo">
      <a href="#" class="logo__link">
        <img src="img/logo.png" alt="Match2One" class="logo__img">
      </a>
    </div>
  </div><!-- end top-line__left -->

  <div class="top-line__right">
    <div class="top-menu">
      <ul class="top-menu__list">
        <li class="top-menu__el">

          <span class="btn btn_pink btn_big">
            <i class="ico ico_plus"></i>
            new campaign
          </span>

        </li>

        <li class="top-menu__el">

          <span class="btn">
            <i class="fa fa-bell"></i>
          </span>

        </li>

        <li class="top-menu__el">

          <span class="btn">
            <i class="fa fa-cog"></i>
          </span>

        </li>

        <li class="top-menu__el">

          <span class="btn">
            <i class="fa fa-sign-in"></i>
          </span>

        </li>
      </ul><!-- top-menu__list -->
    </div><!-- end top-menu -->
  </div><!-- end top-line__right -->

</div><!-- end top-line -->
